.abc, .contacts-us .contacts, .consejos-main .advice, .products-main .titulo-inicio {
  background-image: linear-gradient to right, palevioletred, white;
  text-decoration: none;
  font-family: "poppins";
  font-size: 60px;
  padding-left: 15px;
  text-align: center;
  color: black;
  font-weight: 500px;
  display: flex;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  text-decoration: none;
  color: black;
  list-style: none;
}

/*Estilo header*/
header {
  height: 75px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px 0;
}
@media screen and (max-width: 480px) {
  header {
    font-size: 18px;
    justify-content: center;
    padding: 8px 4px;
  }
}
header ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
@media screen and (max-width: 480px) {
  header ul {
    font-size: 14px;
    justify-content: center;
    padding: 8px 4px;
  }
}
header ul .list-item a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: E5B5E0;
  font-family: "poppins";
  margin: 0 50px;
}
@media screen and (max-width: 480px) {
  header ul .list-item a {
    font-size: 14px;
    justify-content: center;
    padding: 8px 4px;
  }
}
header ul .logo a {
  font-size: 2em;
  padding: 12px 24px;
  font-weight: 500;
}
@media screen and (max-width: 480px) {
  header ul .logo a {
    font-size: 18px;
    justify-content: center;
    padding: 8px 4px;
  }
}

/*Estilo Footer*/
footer {
  width: 100%;
  height: auto;
  padding: 12px 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "poppins";
}
@media screen and (max-width: 480px) {
  footer {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    justify-content: center;
  }
}
footer .contenedor {
  width: 100%;
  font-size: 18px;
  top: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 480px) {
  footer .contenedor {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
footer .contenedor .redes-sociales {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 25px;
  padding: 0 25px;
}
@media screen and (max-width: 480px) {
  footer .contenedor .redes-sociales {
    height: auto;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
  }
}

#hero {
  width: 100%;
  height: 100vh;
  background-image: url(/imagenes/imagen.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  #hero {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 12px;
  }
}
#hero h1 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 12px;
  color: E5B5E0;
}
@media screen and (max-width: 480px) {
  #hero h1 {
    font-size: 32px;
  }
}
#hero p {
  color: E5B5E0;
  font-size: 24px;
  margin-bottom: 48px;
}
#hero a {
  background-color: E5B5E0;
  padding: 12px 24px;
  border-radius: 8px;
  color: #383d34;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  width: fit-content;
}

/*Estilo Main Productos*/
.products-main {
  width: 100%;
  height: auto;
}
.products-main .titulo-inicio {
  margin-top: 150px;
}
.products-main .titulo-inicio:hover {
  color: rgba(0, 0, 0, 0.5);
  margin-left: 6px;
}
.products-main .main-products {
  margin-top: 60px;
  display: flex;
}
.products-main .main-products .item-products {
  border-radius: 10px;
}
.products-main .main-products .item-products:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.products-main .main-products .item-products figure {
  overflow: hidden;
}
.products-main .main-products .item-products figure img {
  width: 300px;
  height: 300px;
  padding: 30px;
}
.products-main .main-products .item-products figure img:hover {
  transform: scale(1.2);
}
.products-main .main-products .item-products figure p .parrafo-products {
  text-align: center;
  margin-left: 0;
  font-family: "poppins";
  font-weight: 20px;
  font-size: 20px;
  background-color: rgba(219, 123, 182, 0.4);
  border-radius: 3%;
}
.products-main .main-products .item-products figure p .parrafo-products b .rose {
  font-size: 33px;
}
.products-main .main-products .item-products figure p .parrafo-products b .rose:hover {
  color: white;
  margin-left: 3px;
}
.products-main .main-products .info-products {
  padding: 15px 30px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.products-main .main-products .info-products h2 {
  text-align: center;
  font-family: "poppins";
  font-size: 20px;
  font-weight: 20px;
}
.products-main .main-products .info-products p .price {
  font-size: 18px;
  font-weight: 900;
}
.products-main .main-products .info-products button {
  align-items: center;
  border: none;
  background: none;
  background-color: rgb(238, 131, 206);
  color: #000;
  padding: 15px 10px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 10px;
  border-radius: 3%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.products-main .main-products .info-products button .boton-compra {
  background-color: rgba(0, 0, 0, 0.5);
}

/*Fin Estilo Main Productos*/
.galeria-img {
  width: 100%;
  height: 100vh;
  padding-top: 100px;
}
.galeria-img .container-img {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px;
  grid-gap: 20px;
}
.galeria-img .container-img .box-img figure {
  width: 100%;
  height: 100%;
}
.galeria-img .container-img .box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Main Consejo*/
.consejos-main .advice {
  margin-top: 150px;
}
.consejos-main .advice:hover {
  color: rgba(0, 0, 0, 0.5);
  margin-left: 6px;
}
.consejos-main section .productoDestacado {
  width: 100%;
  height: 100vh;
  display: flex;
}
.consejos-main section .productoDestacado img {
  height: auto;
  object-fit: cover;
  margin-top: 80px;
  border-radius: 20%;
}
.consejos-main section .productoDestacado img:nth-of-type(even) img {
  order: 2;
}
.consejos-main section .productoDestacado .contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin: 0 5%;
  margin-top: 20%;
  margin-top: -110px;
}
.consejos-main section .productoDestacado .contenido h3 {
  color: pink;
  font-size: 32px;
  margin-bottom: 24px;
}
.consejos-main section .productoDestacado .contenido p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  margin-bottom: 24px;
}
.consejos-main section .productoDestacado .contenido a {
  background-color: rgba(145, 41, 119, 0.7);
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 18px;
  color: white;
  text-decoration: none;
  width: fit-content;
}

/*Fin Main Consejo*/
/*Main Contacto*/
.contacts-us {
  width: 100%;
  height: 100vh;
}
.contacts-us .contacts {
  margin-top: 120px;
}
.contacts-us .contacts:hover {
  color: rgba(0, 0, 0, 0.5);
  margin-left: 6px;
}
@media screen and (max-width: 480px) {
  .contacts-us .contacts {
    width: auto;
    height: auto;
    font-size: 32px;
    justify-content: center;
  }
}
.contacts-us form {
  margin-top: 150px;
  box-sizing: border-box;
  width: 50%;
  background-color: rosybrown;
  background-image: linear-gradient(rgba(128, 0, 128, 0.7)), rgba 238, 130, 238, 0.7, url(../imagenes/pelito.jpg);
  padding: 30px;
  border-radius: 3px;
}
@media screen and (max-width: 480px) {
  .contacts-us form {
    width: 100%;
    height: auto;
  }
}
.contacts-us form h2 {
  text-align: center;
  font-size: 40px;
  font-family: "poppins";
  padding: 20px;
  text-decoration: underline white;
}
@media screen and (max-width: 480px) {
  .contacts-us form h2 {
    width: 100%;
    height: auto;
    font-size: 22px;
    justify-content: center;
    display: flex;
  }
}
.contacts-us form input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid white;
}
.contacts-us form input::placeholder {
  color: rgba(145, 26, 109, 0.8);
}
@media screen and (max-width: 480px) {
  .contacts-us form input .contacto-type {
    justify-items: left;
    display: flex;
    flex-direction: column;
  }
}
.contacts-us textarea {
  width: 100%;
  font-size: 25px;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid white;
}
.contacts-us textarea::placeholder {
  color: rgba(145, 26, 109, 0.8);
}
@media screen and (max-width: 480px) {
  .contacts-us textarea {
    width: 100%;
    height: auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 18px;
  }
}
.contacts-us #enviar {
  border-bottom: 3px solid white;
  padding: 10px;
}
@media screen and (max-width: 480px) {
  .contacts-us {
    width: 100%;
    height: auto;
    justify-content: center;
    display: flex;
  }
}

/*Fin Main Contacto*/

/*# sourceMappingURL=main.css.map */
