//Variables Header//

$color_primario: rgba(0, 0, 0, 0.5);
$color_primario_suave: rgba(0, 0, 0, 0.3);
$color_blanco: #fff;
$altura_header: 80px;
$padding_left_right: 2rem;
$ancho_maximo: 1200px;

.abc {
  background-image: linear-gradient (to right, palevioletred, white);
  text-decoration: none;
  font-family: "poppins";
  font-size: 60px;

  padding-left: 15px;
  text-align: center;
  color: black;
  font-weight: 500px;
  display: flex;

  cursor: pointer;
}
@mixin media-query-mobile() {
  @media screen and (max-width: 480px) {
    @content;
  }
}
