/*Main Contacto*/
.contacts-us {
  background: linear-gradient(rgba(136, 22, 98, 0), transparent),
    url(../imagenes/fondo.jpg);

  .contacts {
    @extend .abc;
    &:hover {
      color: $color-primario;
      margin-left: 6px;
    }
  }
  form {
    margin-top: -100px;
    box-sizing: border-box;
    width: 50%;
    height: auto;
    background-color: rosybrown;
    background-image: linear-gradient(rgba(128, 0, 128, 0.7)),
      (rgba (238, 130, 238, 0.7)), url(../imagenes/pelito.jpg);
    padding: 30px;
    border-radius: 3px;
    h2 {
      text-align: center;
      font-size: 40px;
      font-family: "poppins";
      padding: 20px;
      text-decoration: underline white;
    }
    input {
      width: 100%;
      background-color: transparent;
      border: none;
      border-bottom: 3px solid white;
      &::placeholder {
        color: rgba(145, 26, 109, 0.8);
      }
    }
    textarea {
      width: 100%;
      font-size: 25px;
      background-color: transparent;
      border: none;
      border-bottom: 3px solid white;
      &::placeholder {
        color: rgba(145, 26, 109, 0.8);
      }
    }
    #enviar {
      border-bottom: 3px solid white;
      padding: 10px;
    }
  }
  @media (max-width: 480px) {
    .contacts {
      margin-left: 10px;
      font-size: 30px;
      font-weight: 30px;
      form {
        width: auto;
        h2 {
          font-size: 25px;
          font-weight: 15px;
        }
        input {
          width: auto;
        }
        textarea {
          width: auto;
          font-size: 14px;
          padding-left: 0;
        }
        #enviar {
          width: auto;
          display: block;
          font-size: 14px;
          font-family: "poppins";
        }
      }
    }
  }
}
/*Fin Main Contacto*/
