/*Estilo Main Productos*/
.products-main {
  width: 100%;
  height: auto;
  .titulo-inicio {
    margin-top: 150px;
    @extend .abc;
    &:hover {
      color: $color-primario;
      margin-left: 6px;
    }
  }
  .main-products {
    margin-top: 60px;
    display: flex;
    .item-products {
      border-radius: 10px;
      &:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      }
      figure {
        overflow: hidden;
        img {
          width: 300px;
          height: 300px;
          padding: 30px;
          &:hover {
            transform: scale(1.2);
          }
        }
        p {
          .parrafo-products {
            text-align: center;
            margin-left: 0;
            font-family: "poppins";
            font-weight: 20px;
            font-size: 20px;
            background-color: rgba(219, 123, 182, 40%);
            border-radius: 3%;

            b {
              .rose {
                font-size: 33px;
                &:hover {
                  color: white;
                  margin-left: 3px;
                }
              }
            }
          }
        }
      }
    }
    .info-products {
      padding: 15px 30px;
      line-height: 2;
      display: flex;
      flex-direction: column;
      gap: 10px;
      h2 {
        text-align: center;
        font-family: "poppins";
        font-size: 20px;
        font-weight: 20px;
      }
      p {
        .price {
          font-size: 18px;
          font-weight: 900;
        }
      }
      button {
        align-items: center;
        border: none;
        background: none;
        background-color: rgb(238, 131, 206);
        color: #000;
        padding: 15px 10px;
        cursor: pointer;
        font-size: 20px;
        font-weight: 10px;
        border-radius: 3%;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        .boton-compra {
          background-color: $color-primario;
        }
      }
    }
  }
}

/*Fin Estilo Main Productos*/
