/*Estilo header*/
header {
  height: 75px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px 0;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;

    .list-item a {
      text-decoration: none;
      font-size: 18px;
      font-weight: 400;
      color: E5B5E0;
      font-family: "poppins";
      margin: 0 50px;
    }
    .logo a {
      font-size: 2em;
      padding: 12px 24px;
      font-weight: 500;
    }
  }
}
