/*Estilo header*/
:root {
  --color_primario: #dfcedbfd;
  --color_primario_suave: #c3add183;
  --color_blanco: #fff;
  --altura_header: 150px;
  --padding_left_right: 2rem;
  --ancho_maximo: 1200px;
}
.header {
  height: var(--altura_header);
  background-color: var(--color_primario);

  .logo-l {
    height: 150px;
    margin-right: 40px;
    animation-name: movimientoLogo;
    animation-duration: 4s;
    animation-timing-function: ease;
  }
  @keyframes movimientoLogo {
    0% {
      width: 200px;
      height: 200px;
    }
    50% {
      background-color: lightpink;
    }
    100% {
      transform: rotate(45deg);
    }
  }

  .navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 0 var(--padding_left_right);

    .menu_hamburguesa {
      display: none;
      text-decoration: none;
      justify-content: space-between;
      width: 150px;

      &:checked + .ul_links {
        height: calc(100vh - var(--altura_header));
      }
      .list_icon {
        color: var(--color_blanco);
        cursor: pointer;
      }
    }
    input .type {
      display: none;
    }

    .ul_links {
      width: 100%;
      background-color: var(--color_primario_suave);
      position: absolute;
      font-family: "poppins";
      top: var(--altura_header);
      left: 0;
      height: 0;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: left;
      align-items: center;
      font-weight: 3px;
      transition: all 0.3s;
      a {
        link {
          margin-top: 0%;
          font-size: 32px;
          color: var(--color_blanco);
        }
      }
    }
  }
  @media (max-width: 768x) {
    .labe_hamburguesa {
      display: none;
    }
    .ul_links {
      padding: static;
      width: auto;
      height: auto;
      flex-direction: row;
      gap: 2rem;
      .link {
        font-size: 1.2rem;
        transition: 0.4s;
        padding: 2rem 7rem;
        &:hover {
          background-color: #5f1192;
        }
      }
    }
  }
}
